<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="EmailConfigurationProvider" type="TestConsoleApplication.EmailConfigurationProvider, TestConsoleApplication" />
    </configSections>
    <!--信息需要完善, 所有属性的值都可以按需求修改-->
    <!--account：表示邮件账号-->
    <!--password：表示邮件账号对应密码-->
    <!--server：表示邮件发送所使用服务器-->
    <!--port：表示邮件发送所使用端口号-->
    <!--isSSL：表示是否使用SSL证书发送邮件-->
     <EmailConfigurationProvider name="WingStudio.ForCheng.SendEamil" account="" password="" server="smtp.exmail.qq.com" port="25" isSSL="false" />
</configuration>